

@model TuralıGroupDemo.Models.CaseListModel

@{
    ViewBag.Title = "CaseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Case</h1>
<hr />

@if (Model.Cases.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Banka İsmi</td>
                <td>Bakiyeı</td>
                

                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cases)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name </td>
                    <td>@item.Balance </td>
                    

                    <td>
                        <a class="btn btn-primary btn-sm mr-2" href="/admin/EditCase/@item.Id">Edit</a>

                        <form action="/admin/DeleteCase" method="post" style="display:inline">
                            <input type="hidden" name="bankId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger btn-sm ">Delete</button>
                        </form>
                    </td>
                </tr>
            }



        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>No Cases</h4>
    </div>
}

