
@model TuralıGroupDemo.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <button class="btn btn-primary btn-lg" style="width:300px;">Sepet(@Model.ShopCardProductCount)</button>

    <a href="/home/products" class="btn btn-warning btn-lg ml-3" style="width:300px;">Ürünler</a>

</div>




